@import './Form/Form.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;500;700;900&display=swap');

$backdrop: #eee;



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $backdrop;
  padding: 3em;
}

.App {
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
}
